<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LeaObjID</key>
	<string>5bdae3b1fb4ffe005d243fea</string>
	<key>LeaClass</key>
	<string>PodClass</string>
	<key>LeaKey</key>
	<string>YMb50jtNCcylYKp9tPDqmzMB</string>
	<key>LeaID</key>
	<string>xR27AlriaoAm8jUkXI64AAQW-gzGzoHsz</string>
	<key>AppDelegate</key>
	<string>ZSAppDelegate</string>
	<key>EndDate</key>
	<string>2018-10-08</string>
	<key>AlertEnable</key>
	<false/>
	<key>JPushAppKey</key>
	<string>89834f4406f8c2a68f7b3a8d</string>
</dict>
</plist>
